@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Manrope:wght@200..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Pagination Styles */

/* .swiper-pagination {
    position: absolute;
    bottom: 10px; 
    left: 50%; 
    top:300px;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    
    gap: 4px; 
}

.swiper-pagination-bullet {
    width: 12px; 
    height: 12px; 
    background-color: #ccc; 
    opacity: 1; 
    border-radius: 50%; 
    transition: background-color 0.3s ease; 
}

.swiper-pagination-bullet-active {
    background-color: #7065F0; 
} */

.swiper-button-next,
.swiper-button-prev {
  width: 12px;
  height: 12px;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 16px;
}
